<%= form_for(@livre) do |f| %>
  <% if @livre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@livre.errors.count, "error") %> empechent l'enregistrement de ce livre </h2>

      <ul>
      <% @livre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %><br>
    <%= f.text_field :titre %>
  </div>
  <div class="field">
    <%= f.label :auteur %><br>
    <%= f.text_field :auteur %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
