
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Livres Echanges</a>
    </div>
  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
        <li><%= nav_link "Ma bibliothèque", livres_path %></li>
        <li><%= nav_link "Preter un livre", a_preter_livres_path %></li>
        <li>
          <%= nav_link "Déconnexion de #{current_user.email}" , destroy_user_session_path, method: "delete" %>
        </li>
    <% else %>
        <li><%= nav_link "Se connecter", new_user_session_path %></li>
        <li><%= nav_link "S'enregistrer", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>
</div><!-- /.container-fluid -->

