<!DOCTYPE html>
<html>
<head>
  <title>Livres échanges</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'shared/navigation' %>
<div class="main container">
  <div class="row">
    <%= content_tag :div, id: "flash" do %>
      <%= render partial: 'shared/messages' %>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
</html>